* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif; 
}

/* Header  | nav container*/

nav {
    border-bottom: 1px solid #978f88;
}

.container-nav {
    width: 90%;
    margin: auto;
}

/* Header | Nav Top */

.nav-top {
    padding: 10px 0;
    align-items: center;
}

.box {
    width: 33%;
    display: flex;
    justify-content: center;
}

.box.logo {
    display: flex;
    justify-content: flex-start;
}

.box input {
    width: 100%;
    padding: 10px 0 10px 30px;
    border-radius: 100px;
    background-color: #f3f4f3;
    outline: none;
    border: none;
}

.box.input {
    position: relative;
}

.box.input i {
    position: absolute;
    font-size: 14px;
    left: 10px;
    bottom: 10px;
}

.box.contact {
    display: flex;
    justify-content: flex-end;
}

.box.contact span {
    font-weight: bolder;
    margin-right: 5px;
}

.shopping-icon {
    margin-left: 20px;
    padding-left: 40px;
}

.shopping-icon i:first-child {
    margin-right: 10px;
}

/* Header | Nav Bottom */

.container-nav .menu {
    flex-basis: 80%;
}

.container-nav .menu li {
    display: flex;
    margin-left: 40px;
}

.container-nav .menu i{
    font-size: 13px;
    margin-left: 10px;
}