* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif; 
}

/* Typography */

.bold {
    font-weight: bold;
}

h1 {
    font-family: 'Trocchi', serif;
    margin: 50px 0;
    font-size: 40px;
}

h2 {
    font-family: 'Trocchi', serif;
}

h2, h3 {
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: lighter;
}

h3 {
    color: white;
}

p {
    line-height: 1.6;
}

/* Utilities */


.btn {
    color: black;
    padding: 15px 10px;
    background-color: white;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    transition: all 1s;
}

.btn:hover {
    background-color: #3d6f42;
    color: white;
}

.btn.btn-green {
    background-color: #3d6f42;
    color: white;
}

.btn.btn-green:hover {
    background-color: #2a542a;
}

/* Template for items x4 */

.main-container .category-item,
.main-container .best-item {
    flex-basis: calc(100% / 4);
    text-align: center;
}

.category-item img,
.best-item img {
    width: 100%;
}

/* Header  | nav container*/

nav {
    border-bottom: 1px solid #faf4f4;
}

.container-nav {
    width: 90%;
    margin: 0 auto;
}

/* Header | Nav Top */

.nav-top {
    padding: 20px 0;
    align-items: center;
}

.box {
    width: 33%;
    display: flex;
    justify-content: center;
}

.box.logo {
    display: flex;
    justify-content: flex-start;
}

.box.logo img {
    width: 60%;
}

.box input {
    width: 100%;
    padding: 10px 0 10px 30px;
    border-radius: 100px;
    background-color: #f3f4f3;
    outline: none;
    border: none;
}

.box.input {
    position: relative;
}

.box.input i {
    position: absolute;
    font-size: 14px;
    left: 10px;
    bottom: 10px;
}

.box.contact {
    display: flex;
    justify-content: flex-end;
}

.box.contact span {
    font-weight: bolder;
    margin-right: 5px;
}

.shopping-icon {
    margin-left: 20px;
    padding-left: 40px;
}

.shopping-icon i:first-child {
    margin-right: 10px;
}

/* Header | Nav Bottom */

.container-nav .menu {
    flex-basis: 80%;
}

.container-nav .menu li {
    padding: 15px;
    display: flex;
    cursor: pointer;
    color: #7c7c72;
}

.container-nav .menu li a:focus{
    color: black;
}

.container-nav .menu li a {
    text-decoration: none;
    color: inherit;
}
.container-nav .menu i{
    font-size: 13px;
    margin-left: 5px;
}

/*  Header | Jumbotron */

.jumbotron {
    background: #1e3020;
    background-image: url("../img/bg-transparent-3.png");
    color: white;
    font-size: 14px;
    position: relative;
}
/*  Jumbotron | Eyecatch */
.jumbotron .eyecatch {
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 2;
}

.eyecatch .demos,
.eyecatch .sales {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    background-color: white;
    color: #35697c;
    margin-bottom: 10px;
    cursor: pointer;
}

.eyecatch .demos p {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

.eyecatch .demos i {
    font-size: 20px;
}

.eyecatch .sales p {
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    line-height: initial;
}

.eyecatch .sales .discount {
    color: #59b742;
    font-size: 26px;
    position: relative;
}

.eyecatch .sales .discount::before {
    content: '$';
    font-size: 18px;
    position: absolute;
    top: 0;
    left: -10px
}

/* Jumbotron | Introduction */
.jumbotron-introduction { 
    width: 80%;
    margin: auto;
    padding: 20px;
    justify-content: space-around;
    align-items: baseline;
}

.jumbo-text {
    flex-basis: 33%;
    display: flex;
}

.jumbo-text i {
    margin-right: 15px;
}

/* Jumbotron | Main Title */

.jumbotron .main-title{
    background-image: url("../img/banner-5-2x-scaled.jpg");
    background-size: cover;
    height: 600px;
    width: 100%;
    position: relative;
}

.jumbotron .main-title::after{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(12, 11, 11, 0.428);
    width: 100%;
    height: 600px;
    content: '';
}

.title {
    width: 600px;
    left: 5%;
    top: 20%;
    position: absolute;
    z-index: 1;
}

.title p {
    text-transform: uppercase;
}

/* Jumbotron | Footer */
.jumbotron-footer{
    align-items: center;
    font-size: 18px;
}

.jumbotron-footer a {
    color: #dcd5d0;
    margin-left: 20px;
}

.jumbotron-footer img {
    max-width: 15%;
    margin-right: 20px;
}

/* MAIN | Browser by Category */

.main-container {
    width: 90%;
    margin: 100px auto 0;
    position: relative;
}

.category-container{
    margin-bottom: 150px;
}

.browser-category {
    font-size: 18px;
    width: 60%;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/*  Main | Food Category */

.food-container .food-item {
    flex-basis: calc(100% / 3 - 20px);
    margin-right: 20px;
    padding: 50px 0px;
    background: #1e3120;
    background-image: url("../img/bg-transparent-3.png");
    background-repeat: repeat-x;
    text-align: center;
    transition: all 1s;
}

.text {
   transition: all 1s; 
}

.food-item:hover {
    transform: scale(1.1);
    filter: brightness(120%);
}
.food-item:hover .text {
    transform: scale(0.9090909090909091);
    filter: brightness(80%);
}

.food-item img {
    width: 70%;
    margin-bottom: 15px;
}

.food-item p {
    color: #59b742;
    font-size: 17px;
}

/* Main | New Weekly Arrivals */

.new-arrivals {
    height: 400px;
    background-image: url("../img/banner-3-2x-scaled.jpg");
    background-size: cover;
    position: relative;
}

.new-arrivals::after{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(12, 11, 11, 0.447);
    width: 100%;
    height: 400px;
    content: '';
}

.title-arrivals {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.title-arrivals h2 {
    font-family: 'Trocchi', serif;
    font-size: 40px;
    margin: 50px 0;
}

.title-arrivals p {
    text-transform: uppercase;
}

.title-arrivals .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* Items best sellers */

.best-sellers {
    flex-wrap: wrap;
}

.best-sellers p,
.best-item p:nth-child(3) {
    color: #77ab82;
}

.best-sellers h2{
    flex-basis: 100%;
}

.best-item:nth-child(3) p:nth-child(3):before {
    content: '$35.00';
    text-decoration: line-through;
    font-size: 12px;
    margin-right: 5px;
}