<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Fontawesome -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'/>
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Trocchi&family=Work+Sans:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <!-- Vue -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.js'></script>
    <!-- CSS -->
    <link rel="stylesheet" href="./css/flex-utility.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Avada Pet Supplies</title>
</head>
<body>
    <div id="app">
        <!-- Header -->
        <header>
            <!-- Nav Top -->
            <nav>
                <div class="container-nav">
                    <div class="nav-top flex justify-between">
                        <div class="box logo">
                            <img src="./img/dark-pet-logo.png" alt="avada logo">
                        </div>
                        <div class="box input">
                            <i class="fas fa-search"></i>
                            <input type="text" placeholder="Search...">
                        </div>
                        <div class="box contact">
                            <p><span>Questions?</span>Call us: 1.800,123,4567</p>
                            <div class="shopping-icon">
                                <i class="fas fa-shopping-bag"></i>
                                <i class="far fa-user"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Nav Bottom-->
            <nav>
                <div class="container-nav ">
                    <ul class="menu flex justify-center">
                        <li v-for="(section,index) in sections">
                            <a :href="section.link">
                                {{section.name}}
                                 <i v-if="section.subMenu" class="fas fa-chevron-down"></i>  
                            </a>
                             
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- Jumbotron -->
            <section class="jumbotron">
                <!-- Eyecatch -->
                <div class="eyecatch">
                    <div class="demos flex column align-center justify-center">
                      <i class="fas fa-eye"></i>
                      <p>Demos</p>  
                    </div>
                    <div class="sales flex column align-center justify-start">
                        <p class="discount">39</p>
                        <p>On Sale</p>
                    </div>
                </div>
                <!-- Jumbotron introduction text -->
                <div class="jumbotron-introduction flex">
                    <div class="jumbo-text">
                        <i class="far fa-map"></i>
                       <p> <span class="bold">International </span>Shipping Services </p> 
                    </div>
                    <div class="jumbo-text">
                        <i class="far fa-clock"></i>
                        <p>See our <span class="bold">store hours</span>  and services</p> 
                    </div>
                    <div class="jumbo-text">
                        <i class="fas fa-check"></i>
                        <p>We price match to give you <span class="bold">the best deals</span></p>  
                    </div>  
                </div>
                <!-- Jumbotron main title -->
                <div class="main-title">
                    <div class="title flex column">
                        <p>Find the best animal Supplies</p>
                        <h1>We know animals are a part of your family, let us help take care of them.</h1>
                        <div class="btn">Learn more about us</div>
                    </div>
                </div>
                <div class="jumbotron-footer flex justify-center">
                    <img src="./img/food-transparent-5.png" alt="">
                    <p>Get $25 OFF your first purchase of our homemade pet food!</p>
                    <p><a href="#">Visit the shop</a></p>
                </div>
            </section>
        </header>
        <!-- MAIN -->
        <main>
            <!-- Browser by Category -->
            <section class="main-container">
                <div class="browser-category">
                    <h2>Browser by category</h2>
                    <p>Augue purus et, tincidunt condimentum mauris. At nibh rutrum mi in. Nisi, vitae interdum eleifend dui, consequat nulla
                    rhoncus dictum. Viverra.</p>
                </div>       
            </section>
            <!--  Categories -->
            <section class="main-container flex column"> 
                <div class="category-container flex">
                    <div class="category-item"> <img src=".\img\product-9-300x300.jpg" alt="">
                        <p>Bed (1)</p>
                    </div>
                    <div class="category-item"> <img src=".\img\product-3-300x300.jpg" alt="">
                        <p>Food (6)</p>
                    </div>
                    <div class="category-item"> <img src=".\img\product-2-300x300.jpg" alt="">
                        <p>Toys (6)</p>
                    </div>
                    <div class="category-item"> <img src=".\img\product-4-300x300.jpg" alt="">
                        <p>Transport (6)</p>
                    </div>
                </div>
                <!-- Food Category -->
                <div class="food-container flex">
                    <div class="food-item flex column align-center">
                        <div class="text flex column align-center">
                            <h3>Kibble</h3>
                            <p>Dry dog Food</p>
                            <img src=".\img\food-transparent-18-400x420.png" alt="">
                            <div class="btn btn-green">Shop Dry Food</div>  
                        </div>    
                    </div>
                    <div class="food-item flex column align-center">
                        <div class="text flex column align-center">
                            <h3>Moist</h3>
                            <p>Canned dog food</p>
                            <img src=".\img\food-transparent-17-400x420.png" alt="">
                            <div class="btn btn-green">Shop moist food</div> 
                        </div>         
                    </div>
                    <div class="food-item ">
                        <div class="text flex column align-center">
                            <h3>Frozen</h3>
                            <p>Freeze-Dried dog food</p>
                            <img src=".\img\food-transparent-16-400x420.png" alt="">
                            <div class="btn btn-green">Shop frozen food</div>   
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- New weekly arrivals -->
            <section class="main-container flex column">
                <div class="new-arrivals">
                    <div class="title-arrivals flex column">
                        <p>Find the best animal Supplies</p>
                        <h2>New arrivals weekly</h2>
                        <div class="btn">Learn more about us</div>
                    </div>
                </div> 
            </section>
                <!-- Items best sellers -->
            <section class="main-container flex column">
                <div class="best-sellers flex justify-between">
                    <p>All-time best sellers</p>
                    <div class="btn btn-green">View all production</div> 
                    <h2>Items everyone loves</h2>
                </div>
                <div class="category-container flex">
                    <div class="best-item flex column">
                        <img src="./img/product-20-400x400.jpg" alt="">
                        <p>Transport cage</p>
                        <p>$25.00</p>
                    </div>
                    <div class="best-item">
                        <img src="./img/product-21-400x400.jpg" alt="">
                        <p>Dog leash</p>
                        <p>$25.00</p>
                    </div>
                    <div class="best-item">
                        <img src="./img/product-16-400x400.jpg" alt="">
                        <p>Animal transport cage</p>
                        <p>$25.00</p>
                    </div>
                    <div class="best-item">
                        <img src="./img/product-11-400x400.jpg" alt="">
                        <p>Colorful cat leash</p>
                        <p>$12.00</p>
                    </div>
                </div>
                
            </section>
            <!-- Testimonials -->
            <section class="testimonials">
                <div class="main-container">           
                  <div class="user-testimonials flex column justify-center">
                    <h2>Users Testimonials</h2>
                    <div class="user-container flex">
                        <div class="user flex column align-center">
                            <div class="avatar">
                               <img src="./img/avatar-3-200x200.jpg" alt="avatar-1"> 
                            </div>
                            <p>Auctor est habitasse amet nunc, interdum vel mattis sodales cras. Ut nulla quis nunc, tincidunt eu. Eu.</p>
                            <p>Lisa Smith, ThemeFusion</p>
                        </div>
                        <div class="user flex column align-center">
                            <div class="avatar">
                               <img src="./img/avatar-1-200x200.jpg" alt="avatar-1"> 
                            </div>
                            <p>Donec sollicitudin molestie malesuada. Vivamus suscipit tortor eget felis porttitor volutpat vestibulum ac diam sit.</p>
                            <p>Melissa Green, ThemeFusion</p>
                        </div>
                        <div class="user flex column align-center">
                            <div class="avatar">
                               <img src="./img/avatar-4-200x200.jpg" alt="avatar-1"> 
                            </div>
                            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Proin eget tortor risus vestibulum ante ipsum.</p>
                            <p>Sam Lewis, ThemeFusion</p>
                        </div>
                    </div>
                  </div> 
                </div>   
            </section>
            <!-- Join Newsletter -->
            <section class="newsletter-container">
                <div class="newsletter-text">
                    <h2>Join Our newsletter</h2>
                    <p>Volutpat vel turpis nulla lorem sed semper. Aliquam sagittis sem libero viverra vehicula nullam ut nisl.</p>  
                </div>
                <div class="newsletter-input flex justify-between">
                    <input type="text" placeholder="Insert your email...*">
                    <div class="btn btn-green">Subscribe</div>   
                </div>
            </section>
            <!-- Blog Tips and Tricks -->
            <section class="main-container">
                <!-- Blog title -->
                <div class="blog-title">
                    <h2> Get the best tips &amp; tricks</h2>
                    <p> Recent articles</p>  
                </div>
                <!-- Blog entries -->
                <div class="blog-container flex justify-between">
                    <div class="blog-item flex column">
                        <img src="./img/blog-1-400x400.jpg" alt="blog-entry-1">
                        <p>How to 'loose leash walk' your dog</p>
                        <p class="date">April 21st, 2020</p>
                    </div>
                    <div class="blog-item flex column">
                        <img src="./img/blog-2-400x400.jpg" alt="blog-entry-2">
                        <p>Stop cats from scratching furniture</p>
                        <p class="date">April 19th, 2020</p>
                    </div>
                    <div class="blog-item flex column">
                        <img src="./img/blog-3-400x400.jpg" alt="blog-entry-3">
                        <p>Where to buy the best pet food</p>
                        <p class="date">April 18th, 2020</p>
                    </div>
                    <div class="blog-item flex column">
                        <img src="./img/blog-4-400x400.jpg" alt="blog-entry-4">
                        <p>Proper care for your pet toys</p>
                        <p class="date">April 17th, 2020</p>
                    </div>
                    <div class="btn btn-green btn-small"> Read all article</div>                 
                </div>
            </section>
            <!--  view all  -->
            <section class="view-all">
                <div class="view-all-wrapper-img flex">
                    <div class="view-all-wrapper">
                        <img src="./img/banner-8-2x.jpg" alt="view-all-1">
                        <div class="title-arrivals flex column">
                            <p>Find the best animal Supplies</p>
                            <h2>Popular accessories</h2>
                            <div class="btn btn-small-white">View all toys accessories</div>
                        </div>
                    </div>
                    <div class="view-all-wrapper">
                        <img src="./img/banner-9-2x.jpg" alt="view-all-2">
                        <div class="title-arrivals flex column">
                            <p>New food arrival</p>
                            <h2>New food arrival</h2>
                            <div class="btn btn-small-white">View all food production</div>
                        </div>
                    </div> 
                </div>
                <!-- Services -->
                <div class="services flex justify-center">
                    <div class="service">
                        <i class="fas fa-truck"></i>
                        <p>Free world deliveries</p>
                    </div>
                    <div class="service">
                        <i class="far fa-map"></i>
                        <p>Find stores near you</p>
                    </div>
                    <div class="service">
                        <i class="fas fa-dollar-sign"></i>
                        <p>Best prices guarranteed</p>
                    </div>
                    <div class="credit">
                        <i class="far fa-credit-card"></i>
                        <p>All credit card accepted</p>
                    </div>
                </div>
            </section>
            <!-- New Products arrival -->
        </main>
        <footer>
            <!-- Footer Top -->

            <!-- Footer Social -->

            <!-- Footer Credits -->
        </footer>
    </div>
    <!-- JS -->
    <script src="./js/main.js"></script>
</body>
</html>